/*Especificidad: 001*/
h2{
    text-align: center;
}

/*Especificidad: 001*/
nav{
    justify-content: center;
}

/*Especificidad: 001*/
main {

    width: 40%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0;
    border: 0.3em solid #000;
}

/*Especificidad: 001*/
p {
    padding: 0.5em;
    margin: 0;
    text-align: center;
    border: 0.1em solid #000;
    font-size: 1.5em;
    background-color: #A8C1E1;
    color: #000000;
}

/*Especificidad: 011*/
p[data-state = 'empty'] {
    background-color: #000;
    color: #000001;
}

/*Especificidad: 011*/
p[data-state = 'clicked'] {
    border: 0.2em solid #FFFF00;
}

/*Especificidad: 001*/
form{
    display: flex;
    flex-direction: column;

    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

/*Especificidad: 002*/
section+section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Especificidad: 001*/
ol{
    border: 0.1em solid #000;
    border-radius: 0.3em;
    width: fit-content;
    background-color: #A8C1E1;
    color: #000000;
}

/*Especificidad: 001*/
li{
    margin: 1em;
    width: fit-content;
}

/*Especificidad: 001*/
article{
    border: 0.1em solid #000;
    border-radius: 0.3em;
    width: fit-content;
    background-color: #A8C1E1;
    color: #000000;
    margin: 1em;
}

/*Especificidad: 002*/
article p {
    border: none;
    font-size: 1em;
}

/*Estilo para moviles*/
@media screen and (max-width: 465px) {
    /*Especificidad: 001*/
    main{
        width: fit-content; /*Redefinicion para adaptar el tamaño del crucigrama a moviles*/
    }

    /*Especificidad: 001*/
    p{
        font-size: 0.9em; /*Redefinicion para adaptar el tamaño del crucigrama a moviles*/
    }
}

/*Estilo para tablets*/
@media screen and (max-width: 1200px) {
    /*Especificidad: 001*/
    main{
        width: fit-content; /*Redefinicion para adaptar el tamaño del crucigrama a tablets*/
    }

    /*Especificidad: 001*/
    p{
        font-size: 0.9em; /*Redefinicion para adaptar el tamaño del crucigrama a tablets*/
    }
}