/* Estilos para una mediaquery
que muestre la botonera en tablet y móvil */
/*Especificidad: 011*/
section[data-type=botonera] {
    display: none;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*Especificidad: 012*/
section[data-type=botonera] h2 {
    width: 100%;
    text-align: center;
}

/*Especificidad: 012*/
section[data-type=botonera] button {
    width: calc(15% - 1em);
    height: 4em;
    text-align: center;
    background-color: #000;
    color: #FFF;
}

/*Estilo para moviles*/
@media screen and (max-width: 465px) {
    /*Especificidad: 011*/
    section[data-type=botonera]{
        display: flex; /*Redefinicion para mostrar la botonera en moviles*/
    }
}

/*Estilo para tablets*/
@media screen and (max-width: 1200px) {
    /*Especificidad: 011*/
    section[data-type=botonera]{
        display: flex; /*Redefinicion para mostrar la botonera en tablets*/
    }
}