h2{
    text-align: center;
}

nav{
    justify-content: center;
}

/*Especificidad: 011*/
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    max-width: 60%;
    margin: auto;
}

/*Especificidad: 012*/
section h2 {
    width: 100%;
    flex-grow: 1;
    margin-bottom: 0.5em;
}

/*Especificidad: 002*/
article {

    width: 15%; 
    height: auto;
    margin: 0.5em;

    transition: transform 0.5s;
    transform-style: preserve-3d;
    transition: transform .5s;

    border: 0.2em inset #FF0000;
    border-radius: 5px;
    background-color: #005B94;
    color: #FFF;
}

article img{
    width: 90%;
    height: 90%;
    width: 60%;
    height: auto;
    position: relative;
    transform: rotateY(180deg);
}

article h3 {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

article img, h3{
    
    backface-visibility: hidden;
}

article[data-state = "flip"], article[data-state = "revealed"]{
    transform: rotateY(180deg);
}

article[data-state = "revealed"]{
    transform: rotateY(180deg);
}