form{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    gap: 1%;
}

form + p{
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table{
    width: fit-content;
    margin: auto;
}

/*Especificidad: 013*/
form[data-cargados = 'false'] {
    display: none;
}

/*Especificidad: 013*/
form[data-cargados = 'true'] {
    display: flex;
}