/*Especificidad: 001*/
h2{
    text-align: center;
}

/*Especificidad: 001*/
nav{
    justify-content: center;
}


/*Especificidad: 001*/
main {

    width: fit-content;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0;
    border: 0.3em solid #000;
}

/*Especificidad: 001*/
p {
    padding: 1em;
    margin: 0;
    text-align: center;
    border: 0.1em solid #000;
}

/*Especificidad: 011*/
p:nth-child(3n){
    border-right: 0.3em solid #000;
}

/*Especificidad: 011*/
p:nth-child(n+19){
    border-bottom: 0.3em solid #000;
}

/*Especificidad: 011*/
p:nth-child(n+28) {
    border-bottom: 0.1em solid #000;
}

/*Especificidad: 011*/
p:nth-child(n+46){
    border-bottom: 0.3em solid #000;
}

/*Especificidad: 011*/
p:nth-child(n+55){
    border-bottom: 0.1em solid #000;
}

/*Especificidad: 011*/
p[data-state = 'clicked'] {
    border: 0.2em solid #FFFF00;
}

/*Estilo para moviles*/
@media screen and (max-width: 465px) {

    /*Especificidad: 001*/
    p {
        padding: 0.8em; /*Redefinicion para adaptar el tamaño del sudoku a moviles*/
    }
}