/*Especificidad: 001*/
section{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 40%;
    height: 40%;
}

/*Especificidad: 001*/
button{
    width: fit-content;
}

/*Especificidad: 001*/
article{
    width: 50em;
    height: 50em;

    border: 0.3em inset #000;
    border-radius: 0.3em;
}

/*Especificidad: 001*/
img{
    border: 0.2em inset #000;
    border-radius: 0.3em;
}

/*Especificidad: 005*/
section+section+section+section svg{
    width: 50em;
    height: 50em;
    
    border: 0.2em inset #000;
    border-radius: 0.3em;
}

/*Especificidad: 001*/
input{
    width: fit-content;
}

/*Especificidad: 002*/
section+section{
    display: flex;
    flex-direction: column;
}

/*Especificidad: 003*/
section+section article{
    border: 0.3em inset #000;
    border-radius: 0.3em;

    background-color: #63FCE8;
    color: #000;

    margin: 0.5em;
    height: fit-content;
}

/*Especificidad: 004*/
section+section article p, section+section article h3{
    margin: 1em;
}

/*Especificidad: 004*/
section+section article img{
    margin: 1em;
    width: 20%;
    height: 20%;
}

/*Especificidad: 004*/
section+section article video{
    margin: 1em;
    width: 40%;
    height: 40%;
}

/*Especificidad: 004*/
section+section article article {
    margin: 2em;
    border: none;
    width: fit-content;
}

/*Especificidad: 014*/
section+section article a:link {
    color: #FD5703;
    background-color: #63FCE8;
}

/*Especificidad: 014*/
section+section article a:visited{
    color: #9B0000;
    background-color: #63FCE8;
}

/*Especificidad: 014*/
section+section article a:active, section+section article a:hover, section+section article a:focus{
    color: #B729FC;
    background-color: #63FCE8;
    
}

/*Especificidad: 003*/
section+section+section{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 40%;
    height: 40%;
}

/*Especificidad: 004*/
section+section+section article{
    width: 50em;
    height: 50em;
}

/*Especificidad: 005*/
section+section+section+section+section{
    width: 100%;
    max-width: 100vh;
    height: 70vh;
    position: relative;
    overflow: hidden; 
    border-radius: 1em;
}

/*Especificidad: 005*/
section+section+section+section+section h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 2em;
}

/*Especificidad: 006*/
section+section+section+section+section img{
    width: 100%;
    max-width: 100vh;
    height: 60vh;
    position: absolute;
    transition: all 0.5s;
    object-fit: cover;
    border-radius: 0.5em;
    border: none;
}

/*Especificidad: 006*/
section+section+section+section+section button{
    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    font-size: 1em;
}

/*Especificidad: 016*/
section+section+section+section+section button:active {
    transform: scale(1.1);
}

/*Especificidad: 016*/
section+section+section+section+section button[data-action=prev] {
    top: 50%;
    left: 2%;
}

/*Especificidad: 016*/
section+section+section+section+section button[data-action=next] {
    top: 50%;
    right: 2%;
}

/*Estilo para moviles*/
@media screen and (max-width: 465px) {

    /*Especificidad: 001*/
    img{
        width: 220%;
    }
    /*Especificidad: 002*/
    section article{
        width: 26em;
        height: 26em;
    }

    /*Especificidad: 004*/
    section+section article img{
        margin: 1em; /*Redefinicion para adaptar el tamaño de las imagenes a moviles*/
        width: 80%; /*Redefinicion para adaptar el tamaño de las imagenes a moviles*/
        height: 80%; /*Redefinicion para adaptar el tamaño de las imagenes a moviles*/
    }

    /*Especificidad: 004*/
    section+section+section article{
        width: 26em; /*Redefinicion para adaptar el tamaño del mapa a moviles*/
        height: 26em; /*Redefinicion para adaptar el tamaño del mapa a moviles*/
    }
}